body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #f9f9f9;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-group label.error {
    color: red !important;
}
body{
    height:100vh;
}

footer{
   position: absolute;
   bottom:0   
}

.table-curved {
    border-collapse: separate;
}

.form-control[readonly=False], .form-control[readonly=false] {
    background-color: #fff;
    opacity: 1;
}

select[readonly=true], select[readonly=True] {
    background: #eee; /*Simular campo inativo - Sugestão @GabrielRodrigues*/
    pointer-events: none;
    touch-action: none;
}
dd, dt{
    font-size:1.7rem
}


.erro-deletar {
    color: #e34545;
    font-weight: 800;
}

.erro-deletar ul {
    padding-left:20px
}

.navbar-inverse {
    background: #428bca;
    border-color: #428bca;
}

    .navbar-inverse a {
        color: #ededed !important;
    }

        .navbar-inverse a:hover {
            color: #fff !important;
            text-shadow: 0px 0px 5px #ebebeb;
        }
    .navbar-inverse  .dropdown.open a{
        color:#000 !important;
    }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        color: #ededed !important;
        background-color: #3e73a1;
    }

div.card {
    box-shadow: 1px 2px 3px 0px rgb(0 0 0 / 10%), 0px -0.5px 2px 0px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    background: #fff;
}
.toolbar-grid {
    border: 1px solid #ddd;
    border-bottom: none;
    margin-left: 0 !important;
}

    .toolbar-grid .btn-group {
        margin-left: 0 !important;
        padding: 2px 3px;
    }

.table.table-bordered{
    border-radius:5px;
}