@model Trabalho_2_MVC.Dominio.Entidades.Entidade

<p>
    <hr />
    <a href="@Url.Action(ConstsWeb.AcaoEditar, new { id = Model.Id })" class="btn btn-primary">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        @ConstsWeb.DescricaoAcaoEditar
    </a>
    @Html.Partial("~/Views/Shared/Partial/_AcaoVoltarListagem.cshtml", Model)
</p>