@model Trabalho_2_MVC.Dominio.Entidades.Entidade

<p>
    <hr />
    @Html.ActionLink(ConstsWeb.DescricaoAcaoEditar, ConstsWeb.AcaoEditar, new { id = Model.Id }) |
    @Html.ActionLink(ConstsWeb.DescricaoVoltarListagem, "Index")
</p>